@model Home
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="btn-toolbar nl container col-md-12" role="toolbar" aria-label="Menu">
    <button type="submit" id="submit" class="btn btn-default col-md-2 col-md-offset-0" formaction=@Url.Action("Delete", "Products") disabled="disabled">Delete</button>
    <button type="submit" id="Add" class="btn btn-default col-md-2 col-md-offset-0" formmethod="get" formaction=@Url.Action("Create", "Products")>Add new product</button>

    <button type="submit" id="submit" class="btn btn-default col-md-2 col-md-offset-0" formaction=@Url.Action("Download", "Products")>Download</button>
    <input class="btn-group col-md-2 col-md-offset-0 btn" id="newPay_file" name="file" type="file" accept=".csv" onchange=@Url.Action("Upload", "Products") />
    <button type="submit" id="submit" class="btn btn-default col-md-2 col-md-offset-0" formaction=@Url.Action("Upload", "Products")>Upload</button>
</div>
<div class="form-actions no-color">
    <p>
        Find by product:
        <input type="text" name="searchString" value="@Model.SearchString" onchange=@Url.Action("Index", "Products") />
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-controller="Products" asp-action="Index">Back to full List</a>
    </p>
</div>
<table class="table">
    <tr>
        <th scope="col"></th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="SelectedItems" onchange="OnChange(this)"
                               id="@product.Id" value="@product.Id" class="styled">
                    </label>
                </div>

            <td>
                <a asp-area="" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="navbar-brand"> @product.Name</a>
            </td>
            <td>
                @product.Price
            </td>
            <td>
                @product.Count
            </td>
            <td>
                @product.Description
            </td>
            <td>
                @Model.Categories.FirstOrDefault(p => p.Id == product.CategoryId).Name
            </td>
        </tr>
    }
</table>
}
<script>
    var a = 0;
    function OnChange(cb) {
        if (cb.checked) {
            a++;
        }
        else {
            a--;
        }
        console.log(a);
        if (a > 0) {
            document.getElementById('submit').disabled = "";
        }
        else {
            document.getElementById('submit').disabled = "disabled";
        }

    }
</script>